<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
   <div class="auth-container">
       <div class="signup">
           <h1>Register</h1>
           <form role="form" action="/user/register" method="POST">
               <label for="name">name:  </label><input type="text" name="name" id="name"> <br/>
               <label for="email">email: </label><input type="email" name="email" id="email"> <br/>
               <label for="password">password(minimum 8 characters):  </label><input type="password" name="password" id="password"> <br/>
               {{ .csrfField }}
               <button type="submit" id="signup-button">Register</button>
           </form>
       </div>
       <div class="vertical"></div>
       <div class="login">
           <h1>Login</h1>
           <form action="/user/login" method="POST">
               <label for="email">email: </label><input type="email"  name="email" id="signinemail"> <br/>
               <label for="password">password:  </label><input type="password" name="password" id="signinpassword"> <br/>
               {{ .csrfField }}
               <button type="submit" id="login-button">login</button>
           </form>
       </div>
   </div>
</body>
</html>
