<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link rel="stylesheet" href="../static/transaction.css">
</head>
<body>

  <div class="container">
      <h3>New Transaction</h3>
      <form role="form" action="/transaction" method="POST">
          <div class="user">
              <label  for="user-id">UserID: </label><input type="text" name="user-id" readonly value={{.}} id="user-id"> <br/>
          </div>
          <div class="user">
              <label id="recipient-tag" for="recipient">RecipientID: </label><input type="text" name="recipient" id="recipient"> <br/>
          </div>

          <div class="user">
              <label id="source-currency" >
                  Source Currency:
                  <select class="transaction" name="source-currency">
                      <optgroup label="currency">
                          <option value="USD">DOLLAR</option>
                          <option value="EUR">EURO</option>
                          <option value="NGN">NAIRA</option>
                      </optgroup>
                  </select>
              </label> <br/>
          </div>

          <div class="user">
              <label id="currency" >
                  Target Currency:
                  <select class="transaction" name="target-currency">
                      <optgroup label="currency">
                          <option value="USD">DOLLAR</option>
                          <option value="EUR">EURO</option>
                          <option value="NGN">NAIRA</option>
                      </optgroup>
                  </select>
              </label> <br/>
          </div>
          <div class="user">
              <label class="transaction-tag" >
                  Transaction Type:
                  <select class="transaction" name="transaction-type">
                      <optgroup label="transaction-type">
                          <option value="transfer">Transfer</option>
                          <option value="convert">Convert</option>
                      </optgroup>
                  </select>
              </label> <br/>
          </div>
          <button type="submit" id="signup-button">Transfer</button>
      </form>
  </div>

</body>
</html>