<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link rel="stylesheet" href="../static/transaction.css">
</head>
<body>

  <div class="container">
      <h3>New Transaction</h3>
      <form role="form" action="/transaction" method="POST">
          <div class="user">
              <label  for="user-id">UserID: </label><input type="text" name="user-id" readonly value="234" id="user-id"> <br/>
          </div>
          <div class="user">
              <label id="recipient-tag" for="recipient">RecipientID: </label><input type="text" name="recipient" id="recipient"> <br/>
          </div>
          <div class="user">
              <label id="source-tag" for="source">Source Currency:  </label><input type="text" name="name" id="source"> <br/>
          </div>
          <div class="user">
              <label id="target-tag" for="target">Target Currency: </label><input type="email" name="email" id="target"> <br/>
          </div>
          <div class="user">
              <label id="transaction-tag" for="transaction">
                  Transaction Type:
                  <select id="transaction">
                      <optgroup label="transaction-type">
                          <option>Transfer</option>
                          <option>Convert</option>
                      </optgroup>
                  </select>
              </label> <br/>
          </div>
          <button type="submit" id="signup-button">Transfer</button>
      </form>
  </div>
</body>
</html>